@import-normalize;

body {
  margin: 0;
  font-family: "PingFang SC", "Microsoft Yahei", "Microsoft Yahei UI";
  color: #222831;
}

* {
  box-sizing: border-box;
  /* min-width: 0;
  min-height: 0; */
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
